body{
	font-family: 'OpenSans';
	background-color: #74A546;
}

header{
	background-color: #5B8930;	
	display: flex;
	padding-top: 40px;
	padding-bottom: 20px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	color: white;
}

header > h3{
	color: #DCDEDD;
	text-align: center;
}

header > h4{
	text-align: center;
	color: #9FC1A2;
}

header > p{
	color: #9FC1A2;
	text-align: center;
}

header > form > p{
	color: #9FC1A2;
}

section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	padding: 30px;
	background-color: #74A546;
	border-top: 1px solid #4B6B43;
	color: #F2F9F5;
	text-align: center;	
}

section > small{
	color: #DCDEDD;
	text-align: center;
	word-break: break-word;
}

textarea{
	width: 70%;
	color: black;
}

form{
	width: 80%;
}

input[type="submit"]{
	color: white;
    background-color: #74A546;
    border-color: #5B8930;
}

input[type="submit"]:hover,input[type="submit"]:focus{
	color: white;
    background-color: #87BD54;
    border-color: #5B8930;
}

input[type="submit"]:disabled{
	color: white;
	cursor: not-allowed;
    background-color: #A1D471;
    border-color: #5B8930;
}