body{
	font-family: 'OpenSans';
	/*background-color: #6B9362;*/
}

header{
	background-color: #5B8930;	
}

.container{
	display: flex;
	padding-top: 40px;
	padding-bottom: 20px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	color: white;
}

.container > h3{
	margin: 0;
}

.container > p{
	color: #9FC1A2;
}

.container > h3, h4{
	color: #EFEFEF;
	text-align: center;
}

.container > small{
	word-break: break-word;
	color: #EFEFEF;
}

section{
	background-color: #6B9362;
	border-top: 2px solid #54804A;
}

section > .container > h4{
	/*margin: 0;*/
}

.container > h4{
	text-align: center;
	color: #9FC1A2;
}

textarea{
	width: 70%;
	color: black;
}

form{
	width: 80%;
}

input[type="submit"]{
	color: white;
    background-color: #74A546;
    border-color: #5B8930;
}

input[type="submit"]:hover,input[type="submit"]:focus{
	color: white;
    background-color: #87BD54;
    border-color: #5B8930;
}